<% include templete/header.ejs %>
        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            
            <div class="row">
                <div class="col-12">
                    <div class="wrapper">
                        <label for="formGroupExampleInput">Upload images for detection with YOLOv4 (format: JPEG, JPG, PNG):</label>
                        <br>
                        <input class="uploadimg" name="blockimg" id="blockimg" multiple="multiple" type="file" accept="">
                    </div>
                </div>
            </div>
            <div class="row" id="div_img">
    
            </div>
    
        </div>
        <script src="js/detection.js"></script>
<% include templete/footer.ejs %>